// Place all the styles related to the AdminSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_sessions {
    #main {
      min-height: 450px;
    }
	#login {
		border: 1px solid gray;
		margin:0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		padding: 10px;
		width: 300px;
		text-align: center;
	}
	#header {
		  background-color: #413e4a;
		}
	#section_title {
		text-align: left;
		margin-top: 60px;
		font-weight: 800;
		font-size: 22px;
		margin-left: auto;
		margin-right: auto;
		/*width: 430px;*/
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	#login_link {
		float: right;
		text-align: right;
		display: inline-block;
		width: 117px;
		a {
			color:  #7ca3cc;
			font-size: 15px; /* Approximation due to font substitution */
			font-weight: 600;
		}
	}
	.actions {
		text-align: right;
	}
	#input_form {
		float:none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		/*width: 430px;*/
		border-radius: 4px;
		border-width: 1px;
	    border-color:  #D4D6D9;
	    border-style: solid;
	    padding-bottom: 30px;
	    padding-top: 20px;
	    background-color:  #f9fafa;
	  	input[type="submit"] {
	      margin-top: 20px;
	      display: inline-block;
	      border-radius: 4px;
	      border-color: #566473;
	      border-width: 2px;
	      background-color:  #566473;
	      width: 137px;
	      height: 45px;
	      color: white;
	      font-size: 1.31em; /* Approximation due to font substitution */
	      font-weight: 600;
	      border-style: solid;
	      cursor: pointer;
	    }
	    input[type="submit"]:hover {
	    	background-color: #6D7F91;
	    	border-color: #6D7F91;
	    }
	}
	@media (max-width: 768px) {
		#input_form {
			padding-left: 5%;
			padding-right: 5%;
		}
	}
	@media (min-width: 768px) {
		#input_form {
			padding-left: 3%;
			padding-right: 3%;
		}
	}
	@media (min-width: 992px) {
		#input_form {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}