/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 *= require bootstrap
 *= require_self
 *= require_tree .
 */
 .container-fluid {
  padding-left: 0;
  padding-right: 0;
 }

  .dropdown-toggle {
    background-color: #413e4a;
  }
 @media (min-width: 768px) {
  .navbar-right {
    width: 210px;
  }
  #languages {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  #cart {
    display: none;
  }
  .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }
 }
 @media (min-width: 992px) {
  .navbar-right {
    width: 220px;
  }
  #languages {
    margin-left: 20px;
    display: block;
    width: 60px;
  }
  .navbar-header {
    margin-left: 5%;
    margin-right: 3%;
  }
  .navbar-brand {
    display: block;
    padding-left: 0;
    padding-right: 0;
    /*margin-left: 90%;*/
    /*margin-right: 20%;*/
  }
  #cart {
    display: inline-block;
  }
}
.signout_li {
  display: inline;
}
    #languages {
      color: white;
      font-size: 0.7em;
      font-weight: 700;
      li {
        a {
          padding-left:5px;
          padding-right:5px;
        }
      }
    }
  #cart {
      border-radius: 50%;
      background-color:  #e74c3c;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: white;
      font-size: 0.75em; /* Approximation due to font substitution */
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      /*display: inline-block;*/
     /* margin-left: -10px;*/
    }
    .basket {
      display: inline-block;
      background-size: contain;
      background-image: url(image-path('basket.png'));
      background-repeat: no-repeat;
      float: left;
      width: 26px;
      height: 20px;
      margin-top: 15px;
      margin-left: 20px;
    }
    .basket:hover {
      background-image: url(image-path('basket_hover.png'));
    }
    .basket_xs {
      display: inline-block;
      background-size: contain;
      background-image: url(image-path('basket.png'));
      background-repeat: no-repeat;
      float: right;
      width: 25px;
      height: 20px;
      margin-top: -35px;
      margin-right: 65px;
    }
    .basket_xs:hover {
      background-image: url(image-path('basket_hover.png'));
    }
 $hover_link: #F08490;
 body
 {
  font-family: 'Open Sans', sans-serif;
  background-color:  #ffffff;
  margin-left: auto;
  margin-right: auto;
}
  #main {
    min-height: 430px;
  }
ol,ul{list-style:none;margin:0;padding:0;}
a { 
  text-decoration: none;
  color:black;
  }
a:visited {
  color: white;
}
a:hover {
  text-decoration: none;
}
input {
      font-family: "Open Sans";
      }

html, body, div, span { display: block;}
  #section_title {
    color:  #545454;
    font-size: 1.5em; 
    font-weight: 400;
   /* margin-left: 100px;*/
    margin-top: 40px;
  }
  #input_form {
      float: left;
      width: 350px;
      margin-left: 80px;
      margin-top: 50px;
     /* float: left;*/
      .field {
        margin-top: 15px;
        label {
        color:  #545454;
        font-size: 1.13em; /* Approximation due to font substitution */
        font-weight: 600;
        width: 350px;
        height: 13px;
        }
        input {
        border-radius: 4px;
        border-width: 1px;
        border-color:  #b7b7b7;
        border-style: solid;
        width: 360px;
        height: 35px;
        padding: 5px;
        }
        input[type=checkbox] {
          width: 20px;
          height: 20px;
        }
        input[type=text] {
          margin-top: 5px;
        }
        .actions {
          margin-top: 20px;
        }
      }
  }
#home-slider {
  margin: 0;
}
#header {
  /*height: 60px;*/
}
    .navbar-brand {
      font-size: 23px;
      color: white;
      font-weight: 700;
    }
  .sign_out {
    background-color: #413e4a;
    border: none;
    background-color: none;
    color: white;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border-radius: 0px;
    margin-bottom: 0;
    /*padding-top: 15px;*/
  }
  .sign_out:hover{
   border-bottom: 3px solid #F08490;
   padding-bottom: 13px;
   color: white;
  }
  @media (max-width: 767px) {
    .sign_out:hover{
     color: #F08490;
     border: none;
     padding-bottom: 6px;
    }
    .signout_li {
      display: block;
    }
    #languages {
      border-top: 1px solid white;
      border-bottom: 1px solid white;

      li {
        a {
          padding-left: 15px;
        }
      }
    }
    .basket {
      margin-top: 20px;
      margin-left: 10px;
    }
  }
#header-top {
  margin: 0;
  height: 10px;
  vertical-align: middle;
  padding-top: 20px;
  #banner {
    ul { 
      li { 
        a {
        padding: 0;
        color:white;
        text-decoration: none;
        }
      }
    }
    .navbar-brand {
      padding: 0;
      font-size: 23px;
    }
    a:visited {
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: $hover_link;
    }
    font-size: 23px; /* Approximation due to font substitution */
    font-weight: 700;
    width: 95px;
    height: 17px;
    margin-left: 10%;
    display: inline;
    float: left;
  }
    #menu-right {
      font-size: 0.88em;
      font-weight: 700;
      float: right;
      color: white;
      ul {
          padding: 0;
          li {
            display: inline-block;
            a {
              color: white;
            }
          }
        }
      a:hover {
        border-bottom: 3px solid #F08490;
        padding-bottom: 19px;
      }
    }


  @-moz-document url-prefix() {
    .sign_out:hover { padding-bottom:18px;}
  }
  #banner-right {
    margin-right: 5%;
    margin-left: 2%;
    float: right;
    display: inline;
    width: 130px;
    height: 20px;
    #cart {
      border-radius: 50%;
      background-color:  #e74c3c;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: white;
      font-size: 0.75em; /* Approximation due to font substitution */
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      margin-top: -40px;
      margin-left: -3px;
    }
    .basket {
      display: inline-block;
      background-size: contain;
      background-image: url(image-path('basket.png'));
      background-repeat: no-repeat;
      float: left;
      width: 26px;
      height: 20px;
    }
    .basket:hover {
      background-image: url(image-path('basket_hover.png'));
    }
  }

  .navbar-collapse {
    float: left;
    height: 20px;
    display: inline;
    margin-left: 10%;
    width: 50%;
  }
  /*.navbar-nav {
    width: 100%;
    color: #ffffff;
    font-size: 0.88em;
    font-weight: 700;
    float: left;
    a:hover {
      border-bottom: 3px solid #F08490;
      padding-bottom: 17px;
      background-color: #413e4a;
      background-image: url(image-path('textura.png'));
      background-repeat: repeat;*
      opacity: 0.85;
    }
    li {
       padding-right: 5%;
       display: inline-block;
    }
  }
  .navbar-nav li a {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding: 0;
  }*/
}
#menu {
    height: 20px;
    display: inline;
    margin-left: 10%;
    width: 40%;
    ul {
      li {
          padding-right: 5%;
          display: inline-block;
          a {
            color: #898989;
          }
      }
    }
  }
#footer {
  margin-top: 20px;
  color:  #898989;
  font-size: 1.1em; /* Approximation due to font substitution */
  font-weight: 600;
  border-top: 1px solid #898989;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  clear: both;
    #menu {
      float: right;
      margin-top: 20px;
      ul {
        li {
          font-size: 1.1em; /* Approximation due to font substitution */
          font-weight: 600;
        }
      }
    }
}
  @media (max-width: 768px) {
    #purchuase {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width: 768px) {
    #purchuase {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width: 992px) {
    #purchuase {
      float: right;
      margin-left: 0;
      margin-right: 2%;
    }
  }
#purchuase {
    max-width: 340px;
    #kupovina {
      border-radius: 4px;
      border-width: 1px;
      border-color:  #b7b7b7;
      border-style: solid;
     /* width: 290px;*/
      height: 240px;
      padding: 20px;
      #narudzba {
        color:  #545454;
        font-size: 1.13em; /* Approximation due to font substitution */
        font-weight: 400;
        float: left;
        /*width: 75px;*/
        height: 14px;
      }
      #broj_proizvoda {
        float: left;
        color:  rgba(84, 84, 84, 0.5);
        font-size: 1.13em; /* Approximation due to font substitution */
        font-weight: 400;
        width: 92px;
        height: 17px;
      }
      #ukupno {
        padding-top: 10px;
        border-top: 1px solid #566473;
        clear: both;
        margin-top: 10px;       
      } 
    }
    #entry-button {
      margin-top: 20px;
      color:  #ffffff;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      width: 85%;
      float: right;
      .buy_button {
          float: right;
          border-radius: 4px;
          line-height: 30px;
          vertical-align: middle;
          display: inline-block;
          background-color: #566473;   
          cursor:pointer;
          a {
            color: white;
          }
      }
      .buy_button:hover {
        background-color: #6D7F91;
        border-color: #6D7F91;
      }
      .leave_button {
        font-weight: 600;
        float: left;
        border-radius: 4px;
        border: 1px solid #566473;
        width: 120px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        display: inline-block;
        background-color:   white;   
        color: #566473;
        cursor:pointer;
      }
      .leave_button:hover {
        background-color:  #eff3f3;
      }
    }
  }
  #price_details {
    float: right;
    text-align: right;
    padding-bottom: 10px;
  }
  .price {  
    color:  #566473;
    font-size: 1.31em; /* Approximation due to font substitution */
    font-weight: 600;
    text-align: right;
  }
  #cijena {
    color:  #7d7d7d;
    font-size: 1.13em; /* Approximation due to font substitution */
    font-weight: 600;
    text-align: right;
  }
/*Add to cart button */
.cart_button_buy {
        margin-left: 10px;
        background-color: #e74c3c;
        border-radius: 4px;
        display: inline-block;
        /*width: 100px;
        height: 30px;*/
        line-height: 30px;
        vertical-align: middle;
        border: 1px solid #e74c3c;
        color: white;
        font-size: 11px;
        font-weight: 600;
       /* float: right;*/
        font-family: "Open Sans";
        cursor: pointer;
      }
      .cart_button_loading {
        margin-left: 10px;
        border-radius: 4px;
        /*width: 100px;
        height: 30px;*/
        line-height: 30px;
        vertical-align: middle;
        border: 1px solid #e74c3c;
        font-size: 11px;
        font-weight: 600;
        /*float: right;*/
        font-family: "Open Sans";
        cursor: pointer;
        background-color: #e74c3c;
        color: #e74c3c;
        background-repeat: no-repeat;
        background-position: center;
        display: none;
      }
      .click_loading {
        background-image: url(image-path('728.GIF'));
      }
      .click_checked {
        background-image: url(image-path('checked.jpg'));
        border-color: #14C460;
      }
      .cart_button_buy:hover{
        background-color:  #f16354;
        border: 1px solid #f16354;
      }
  .entry    {
   /* width: 210px;*/
    /*float: none;*/
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10px;
    border-radius: 4px;
    background-color:  #ffffff;
    display: inline-block;
    border: 2px solid white;
    img {
     /* width: 167px;*/
      height: 100%;
      margin-left: 10%;
    }
    .price_line {
      margin-left: 10%;
     /* margin-top: 10%;*/
      /*text-align: left;*/
      .title {
        color:  #959595;
        font-size: 0.88em; /* Approximation due to font substitution */
        font-weight: 600;
      }
    .price {
        color:  #7d7d7d;
        font-size: 1.13em; /* Approximation due to font substitution */
        font-weight: 600;
        /*text-align: left;*/
    }
   /* width: 145px;*/
   /* height: 25%;*/
    }
    #entry-button {
      border: 1px solid black;
      margin-top: 30px;
      color:  #ffffff;
      font-size: 0.88em; /* Approximation due to font substitution */
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      width: 180px;     
    }
}
  @media (max-width: 768px) {
    #footer {
      #menu {
        display: none;
      }
    }
    #section_title {
      margin-left: 0;
      text-align: center;
    }
  .entry {
    margin-bottom: 25px;
    float:none;
    margin-left: auto;
    margin-right: auto;
    height: 290px;
    .row {
      height: 150px;
    }
  }
  #products_list {
    padding-left: 0;
    padding-top: 0;
  }
  .price_line {
    margin-top: 5%;
    text-align: center;
    height: 20%;
    .price {
      text-align: center;
    }
  }
    .cart_button_buy {
      width: 150px;
      height: 30px;
     /* float: right;*/
    }
    .cart_button_loading {
      width: 150px;
      height: 30px;
     /* float: right;*/
    }
}
  @media (min-width: 768px) {
    #footer {
      #menu {
        display: none;
      }
    }
    #section_title {
      margin-left: 100px;
    }
    .entry {
      height: 250px;
      margin-left: 2%;
      margin-right: 2%;
      .row {
        height: 55%;
      }
    }
    #products_list {
      padding-top: 20px;
      padding-left: 10%;
    }
    .price_line {
      margin-top: 10%;
      text-align: left;
      height: 25%;
      .price {
        text-align: left;
      }
    }
    .cart_button_buy {
      width: 100px;
      height: 30px;
      float: right;
    }
    .cart_button_loading {
      width: 100px;
      height: 30px;
      float: right;
    }
  }

@media (min-width: 992px) {
  #footer {
    #menu {
        display: block;
      }
    }
  .entry {
    height: 250px;
    margin-left: 1%;
    margin-right: 1%;
  }
  #products_list {
    padding-top: 20px;
    padding-left: 5%;
  }
}
