/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */
 body{
  font-family: 'Exo 2', sans-serif;
  background:#fff;
}
ol,ul{list-style:none;margin:0;padding:0;}
a { text-decoration: none;}
html, body, div, span { display: block;}
#header-top {
  /*position: absolute;*/
  height: 40px;
  margin:0 auto;
  color: white;
  background: #4cb1ca;
  #menu-right {
    margin-left: 80%;
    float: right;
    font-size: 0.8125em;
    ul {
        padding: 0;
        li {
          display: inline-block;
          list-style: none;
          a {
            color: white;
            display: block;
            margin:10px;
          }
        }
      }
      li> a:hover {
        color: #ACEAFA;
      }
    }
}
#banner {
  margin-top: 20px;
  margin-bottom: 20px;
  background: white;
  padding: 10px;
  font-size: 200%;
  color: #3E3E40;
  height: 45px;
  vertical-align: middle;
  /*img {
    float: left;
  }*/
  #banner-left {
    display: inline;
    width:80%;
    float: left;
    h1 {
      color: #3E3E40;
      font-weight: bold;
      padding: 0;
      font-size: 130%;
      border: none;
      padding-top: 10px;
      text-align: center;
     /* border: 1px solid black;*/
      margin: 0;
    }
    ul {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
   /*   text-align: center;*/
    /*  margin-left: 20px;*/
      li{
        display: inline;
        a{
          padding: 10px;
          background-color: #4cb1ca;
          font-weight: bold;
          font-size: 150%;
          color: white;
        }
      }
    }
    li> a:hover {
        color: #ACEAFA;
      }
    
    img {
      vertical-align: middle;
      padding: 0;
      float: left;
    }
  }
  #banner-right {
    display: inline;
    margin: 0;
    font-size: 200%;
  /*  width: 20%;*/
    float: left;
    vertical-align: middle;
    span {float: left;}
    img {
      float: left;
      height: 30px;
    }
    ul {
      float: left;
      height: 30px;
      li {
        margin-top: 5px;
        vertical-align: middle;
      a { 
        font-size: 150%;}
      }  
    }
  }
}
#sale {}
#main {
  margin-left: auto;
  margin-right: auto;
}
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #141;

/* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     white;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

/* END_HIGHLIGHT */
    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
/*END:side*/
}
/*#START:form*/
.depot_form {
  fieldset {
    background: #efe;

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none
    }
  }
}

/*#END:form*/
