/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */

    @font-face {
        font-family: 'ProximaNova';
        src: url(/assets/fonts/ProximaNova.otf) format("truetype");
    }
 $hover_link: #81D697;
 body
 {
  font-family: 'Open Sans', sans-serif;
  background-color:  #ffffff;
  margin-left: auto;
  margin-right: auto;
}
  #main {
    min-height: 430px;
  }
ol,ul{list-style:none;margin:0;padding:0;}
a { 
  text-decoration: none;
  color:white;
  }
a:visited {
  color: white;
}
a:hover {}
input {
      font-family: "Open Sans";
      }

html, body, div, span { display: block;}
  #section_title {
    color:  #545454;
    font-size: 1.5em; 
    font-weight: 400;
    margin-left: 100px;
    margin-top: 40px;

  }
  #input_form {
      float: left;
      width: 350px;
      margin-left: 80px;
      margin-top: 50px;
     /* float: left;*/
      .field {
        margin-top: 15px;
        label {
         color:  #545454;
        font-size: 1.13em; /* Approximation due to font substitution */
        font-weight: 600;
        width: 350px;
        height: 13px;
        }
        input {
        border-radius: 4px;
        border-width: 1px;
        border-color:  #b7b7b7;
        border-style: solid;
        width: 350px;
        height: 27px;
        padding: 5px;
        }
        input[type=checkbox] {
            width: 20px;
           height: 20px;
        }
        .actions {
          margin-top: 20px;
        }
      }
  }
#home-slider {
  margin: 0;
}
#header {
  height: 60px;
}

#header-top {
  margin: 0;
  height: 10px;
  vertical-align: middle;
  padding-top: 20px;
  #banner {
    ul { 
      li { 
        a {
        color:  white;
        text-decoration: none;
        }
      }
    }
    a:visited {
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: $hover_link;
    }
    font-size: 23px; /* Approximation due to font substitution */
    font-weight: 700;
    width: 95px;
    height: 17px;
    margin-left: 10%;
    display: inline;
    float: left;
  }
    #menu-right {
     /* width: 140px;*/
      font-size: 0.88em;
      font-weight: 700;
      float: right;
      color: white;
      ul {
          padding: 0;
          li {
            display: inline-block;
            a {
              color: white;
            }
          }
        }
      a:hover {
       border-bottom: 3px solid #F08490;
        padding-bottom: 19px;
      }
    }
  .sign_out {
    float: right;
    margin-right: 50%;
    background-color: #413e4a;
    border: none;
    background-color: none;
    color: white;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
  }
  .sign_out:hover{
    border-bottom: 3px solid #F08490;
    padding-bottom: 18px;
  }
  #banner-right {
    margin-right: 5%;
    margin-left: 2%;
    float: right;
    display: inline;
    width: 130px;
    #cart {
      border-radius: 50%;
      background-color:  #e74c3c;
      width: 16px;
      height: 16px;
      line-height: 16px;
      color: white;
      font-size: 0.75em; /* Approximation due to font substitution */
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      margin-top: -40px;
      margin-left: -3px;
    }
  }
  #menu {
    color: #ffffff;
    font-size: 0.88em;
    font-weight: 700;
    float: left;
    ul {
      li {
          a {
            text-transform: uppercase;
            color: white;
          }
      }
    }
    a:hover {
      border-bottom: 3px solid #F08490;
      padding-bottom: 19px;
    }
  }
}
#menu {
    height: 20px;
    display: inline;
    margin-left: 10%;
    width: 40%;
    ul {
      li {
          padding-right: 5%;
          display: inline-block;
          a {
            color: #898989;
          }
      }
    }
  }
#footer {
  margin-top: 20px;
  color:  #898989;
  font-size: 1.1em; /* Approximation due to font substitution */
  font-weight: 600;
  border-top: 1px solid #898989;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  clear: both;
    #menu {
      float: right;
      margin-top: 20px;
      ul {
        li {
          font-size: 1.1em; /* Approximation due to font substitution */
          font-weight: 600;
        }
      }
    }
}



