// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* START_HIGHLIGHT */

.carts {
	$hover_link: #81D697;
	#header {
	  background-color: #413e4a;
	}
	#cart_frame {
		width: 780px;
		margin-left: 100px;
		margin-top: 50px;
		float: left;
		min-height: 400px;
	}
	#cart_line_item {
		border-bottom: 1px solid #b7b7b7;
		width: 750px;
		margin: 0;
		height: 200px; 
		padding: 5px;
		margin-top: 10px;
		float: left;
		margin-top: 30px; 
		#slika {
			width: 168px;
			height: 136px;
			float: left;
			img {
				width: 100%;
				height: 100%;
			}
		}
	
			#description {
				font-size: 1.13em; /* Approximation due to font substitution */
				font-weight: 600;
				line-height: 1.667;
				text-align: justify;
				width: 450px;
				/*height: 160px;*/
				float: left;
				color:  #7d7d7d;
				margin-left: 20px;

			}
			
		
	}
	#price_details {
				float: right;
				text-align: right;
				padding-bottom: 10px;
				}
				.price {	
					color:  #566473;
					font-size: 1.31em; /* Approximation due to font substitution */
					font-weight: 600;
					text-align: right;
				}
				#cijena {
						color:  #7d7d7d;
						font-size: 1.13em; /* Approximation due to font substitution */
						font-weight: 600;
						text-align: right;

					}
			
			#kupovina {
				border-radius: 4px;
				border-width: 1px;
				border-color:  #b7b7b7;
				border-style: solid;
				width: 250px;
				height: 220px;
				float: left;
				margin-left: 40px;
				margin-top: 50px;
				padding: 20px;
				#narudzba {
					color:  #545454;
					font-size: 1.13em; /* Approximation due to font substitution */
					font-weight: 400;
					float: left;
					width: 75px;
height: 14px;
				}
				#broj_proizvoda {
					float: left;
					color:  rgba(84, 84, 84, 0.5);
					font-size: 1.13em; /* Approximation due to font substitution */
					font-weight: 400;
					width: 92px;
height: 17px;
				}
				#ukupno {
					padding-top: 10px;
					border-top: 1px solid #566473;
					clear: both;
					margin-top: 10px;				
				}
			
			}
	#entry-button {
		float: left;
	    margin-top: 10px;
	    color:  #ffffff;
	    font-weight: 600;
	    text-align: center;
	    vertical-align: middle;
	    width: 250px;
	    margin-left: 95px;
      .buy_button {
      	margin-left: 10px;
        border-radius: 4px;
        width: 85px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        display: inline-block;
        background-color: #566473;   
        cursor:pointer;
        a {
        color: white;
        }
      }

      .buy_button:hover {
      	background-color: white;
      	border: 1px solid #566473;
      	a {
      	color: #566473;
      	}
      }
      .leave_button {
	    font-weight: 600;
      	float: left;
        border-radius: 4px;
        border: 1px solid #566473;
        width: 120px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        display: inline-block;
        background-color:   white;   
        color: #566473;
        cursor:pointer;
      }
       .leave_button:hover {
        	background-color: #566473;   
        	color: white;
      	}
      }

	/*#cart_title {
		color:  #545454;
		font-size: 1.5em; 
		font-weight: 400;
		width: 117px;
		height: 22px;
		margin-left: 100px;
		margin-top: 20px;
	}

	#cart_frame {
		border: 1px solid black;
		width: 50%;
		margin-left: 100px;
		margin-top: 20px;
	}
	#entry-button {
      margin-top: 30px;
      color:  #ffffff;
      font-size: 0.88em; 
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      width: 180px;
      margin-left: auto;
      margin-right: auto;
      .buy_button {
        border-radius: 4px;
        width: 73px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        display: inline-block;
        background-color:  #e74c3c;   
         a {
        color: white;
        }
      }
      }

  .item_price, .total_line {
    text-align: right;
  }

  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid #595;
  }

  	#cart_line_item {			
  		padding:10px;
  		margin-top: 30px;
		width: 50%;

		height: 200px;
		border-bottom: 1px solid gray;
		display: inline-block;
		img {
			width: 168px;
			height: 136px;
			display: inline-block;
			border: 1px solid green;
		}
		#product_details {
			padding: 0;
			width: 400px;
			display: inline-block;
			margin: 0;
		}
		#price_details {
			padding: 0;
			margin: 0;
		width: 50%;
			border: 1px solid yellow;
			/*height: 60px;
			display: inline-block;
			#product_title {
				color:  #7d7d7d;
				font-size: 1.13em; /* Approximation due to font substitution 
				font-weight: 600;
			}
			.quantity {
				width: 40px;
				height: 20px;
			}
		}
	}

#shop_details {
	display: inline-block;
	width: 100px;
	height: 100px;
}*/
}