// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.charges {
	#header {
	  background-color: #413e4a;
	}
  #order_details {
    padding: 20px;
    border-left: 1px solid #566473;
    color:  #545454;
    font-size: 1.13em; /* Approximation due to font substitution */
    font-weight: 600;
    width: 187px;
    height: 100px;
    margin-left: 100px;
    margin-top: 50px;
    float: left;
  }
  #stripe-button {
    float: right;
    margin-top: 20px;
  }
 /* #price_details {
    float: right;
    text-align: right;
    padding-bottom: 10px;
  }
  .price {  
    color:  #566473;
    font-size: 1.31em;
    font-weight: 600;
    text-align: right;
  }
  #cijena {
    color:  #7d7d7d;
    font-size: 1.13em;
    font-weight: 600;
    text-align: right;
  }*/
}