// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.charges {
	#header {
	  background-color: #413e4a;
	}
  #payment_message {
    background-color:  #f9fafa;
    margin-top: 50px;
    padding: 50px;
    border-radius: 4px;
    border-width: 1px;
    border-color:  #D4D6D9;
    border-style: solid;
    padding-bottom: 30px;
    padding-top: 20px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    text-align: center;
    font-weight: 700;
    padding: 30px;
    font-size: 1.4em;
    color: #566473;
  }
  .order_details {
    padding: 20px;
    border: 1px solid #59BA8A;
    border-radius: 4px;
    color:  #545454;
    font-size: 1.2em; /* Approximation due to font substitution */
    font-weight: 600;
    min-height: 145px;
    box-shadow: 0 0 10px #92D1B2;
    cursor: pointer;
  }
  .order_details:hover {
    border-color: rgb(204, 204, 204);
    box-shadow: none;
  }
  @media (max-width: 768px) {
    .order_details {
      float: none;
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
      margin-top: 20px;
    }
    .add_new_link {
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: 768px) {
    .order_details {
      float: left;
      width: 300px;
      margin-left: 8%;
      margin-top: 30px;
      margin-bottom: 35px;
    }
    #order_details_shipping {
      margin-left: 8%;
    }
    .add_new_link {
      margin-left: 0;

    }
  }
  @media (min-width: 992px) {
    .order_details {
      margin-top: 50px;
      margin-left: 2%;
    }
    #order_details_shipping {
     margin-left:2%;
    }
  }
  @media (min-width: 1200px) {
    .order_details {
      margin-top: 50px;
      margin-left: 8%;
    }
    #order_details_shipping {
      margin-left:100px;
    }
  }
  .old_addresses_details {
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    color:  #545454;
    font-size: 1.2em; /* Approximation due to font substitution */
    font-weight: 600;
    /*margin-left: 100px;*/
    margin-top: 20px;
   /* float: left;*/
    cursor: pointer;
    min-width: 190px;
    .entry-button {
      display: block;
    }
  }
  @media (max-width: 768px) {
    .old_addresses_details {
      float: none;
      margin-left: auto;
      margin-right: auto;
      min-height: 150px;
    }
    .details {
      min-height: 80px;
    }
    .stripe-button-el {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 768px) {
    .old_addresses_details {
      float: left;
      margin-left: 0;
      margin-right: 30px;
      height: 170px;
    }
    .details {
      height: 100px;
    }
    .stripe-button-el {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 992px) {
    .old_addresses_details {
      height: 170px;
    }
      .details {
    height: 100px;
  }
  }
  @media (max-width: 768px) {
    .old_addresses_details {
      max-width: 300px;
    }
  }
  .old_addresses_details:hover {
    border-color: #59BA8A;
    box-shadow: 0 0 10px #92D1B2;
    .entry-button {
      display: block;
    }
  }
  .old_addresses {
   /* border: 1px solid black;*/
    /*margin-left: 100px;*/
    /*margin-top: 40px;*/
    margin-bottom: 30px;
   /* width: 1200px;*/
    min-height: 250px;
    /*float: left;*/
  }
  @media (max-width: 768px) {
    .old_addresses {
      margin-top: 20px;
      clear: both;
      float: none;
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width: 768px) {
    #section_title {
      margin-left: 8%;
    }
    .old_addresses {
     /* margin-top: 30px;*/
      float: left;
      padding-left: 8%;
    }
  }
  @media (min-width: 992px) {
    .old_addresses {
      float: left;
      padding-left: 100px;
      margin-top: 0;
    }
    #section_title {
      margin-left: 100px;
    }
  }
  #old_shipping_addresses {
    display:none;
  }
  #old_billing_addresses {
    display:none;
  }

  #stripe-button {
    float: right;
    margin-top: 20px;
  }
  .order_details {
    .entry-button {
      margin-top: 15px;
    }
  }
  .old_addresses_details {
    .entry-button {
      margin-top: 0;
    }
  }
  .entry-button {
    color:  #ffffff;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
   /* margin-top: 10px;*/
    line-height: 30px;
    vertical-align: middle;
    #change_billing_button {
      /*float: right;*/
      float: none;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #566473;
      border-radius: 4px;
      width: 150px;
      height: 30px;
      background-color: #566473;   
      cursor:pointer;
      color: white;
      font-weight: 600;
      font-family: 'Open Sans';
    }
    #change_billing_button:hover {
      background-color: #6D7F91;
      border-color: #6D7F91;
    }
    #change_shipping_button {
      /*float: right;*/
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #566473;
      border-radius: 4px;
      width: 150px;
      height: 30px;
      background-color: #566473;   
      cursor:pointer;
      color: white;
      font-weight: 600;
      font-family: 'Open Sans';
    }
    #change_shipping_button:hover {
      background-color: #6D7F91;
      border-color: #6D7F91;
    }
  }
    .add_new_link {
      margin-top: 20px;
      clear: both;
      width: 200px;
      padding-top: 20px;
      a {
        color:  #7ca3cc;
        font-size: 1.31em;
        font-weight: 600;
      }
    }
}