// Place all the styles related to the Roles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.roles {
	#table_index {
		padding: 20px;
		margin-top: 40px;
		border: 1px solid gray;
		width: 200px;
		margin-left: auto;
		margin-right: auto;
	}
}