// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* START_HIGHLIGHT */
.store {
  margin-left: auto;
  margin-right: auto;

  #latest_products {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    margin-top: 20px;

  }
  #products_sale {
    margin-top: 40px;
    height: 500px;

    img {
      height: 100%;
      width: 100%;
    }
  }
  h1 {
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
   /* font-size: 130%;*/
  }

  /* An entry in the store catalog */
  .entry {
    padding: 10px;
    overflow: auto;
    margin-top: 1em;
    margin-left: 10px;
    margin-right: 10px;

    border: 1px solid gray;
    height: 250px;
    width: 250px;
    display: inline-block;
    img {
      padding: 5px;
      width: 95%;
      height: 170px;
     /* position: absolute;*/
    }

    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin: 0;
      color: #227;
    }

    p, div.price_line {
      margin: 0; 
      form, div {
      		display: inline
      }
    }
    .price_line {
     float: left;
    }
     #button {
        float: right;
      }
    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }
}
/* END_HIGHLIGHT */