
/* START_HIGHLIGHT */
.store {
  margin-left: auto;
  margin-right: auto;

   #products_sale {
    width: 1181px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    #main-header {
      height: 80px;
      line-height: 80px;
      padding-left: 40px;
      border-radius: 10px;
      margin-top: -40px;
      background-color: white;
      color: #7d7d7d;
      font-size: 0.88em; /* Approximation due to font substitution */
      font-weight: 700;
      text-align: left;
    }
  }
  #home-slider {
    height: 600px;
    background-image: url(image-path('Layer 34.png'));
    background-repeat: no-repeat;
    background-size:   cover;   
  }
  .entry:hover {
        border: 2px solid #E3E3E3;

    }
  .entry {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 4px;
    background-color:  #ffffff;
    width: 210px;
    height: 260px;
    display: inline-block;
    padding: 10px;

    img {
      width: 155px;
      height: 134px;
    }
    .price_line {
      margin-top: 10px;
      text-align: left;
      .title {
        color:  #959595;
        font-size: 0.88em; /* Approximation due to font substitution */
        font-weight: 600;
      }
      .price {

        color:  #7d7d7d;
        font-size: 1.13em; /* Approximation due to font substitution */
        font-weight: 600;
      }
      width: 145px;
      height: 32px;
    }
    #entry-button {
      margin-top: 30px;
      color:  #ffffff;
      font-size: 0.88em; /* Approximation due to font substitution */
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      width: 180px;
      margin-left: auto;
      margin-right: auto;
      .buy_button {
        border-radius: 4px;
        width: 73px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        display: inline-block;
        background-color:  #e74c3c;   
         a {
        color: white;
        }
      }
      .cart_button {
        /*margin-left: 10px;*/
        margin-left: 10px;
        background-color: white;
        border-radius: 4px;
        display: inline-block;
        width: 73px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        border: 1px solid #7d7d7d;
        color: #7d7d7d;
        font-size: 0.88em; /* Approximation due to font substitution */
        font-weight: 600;
        float: left;
      }
    }
  }
/*
  #latest_products {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    margin-top: 20px;

  }
  #products_sale {
    margin-top: 40px;
    height: 500px;

    img {
      height: 100%;
      width: 100%;
    }
  }
  h1 {
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
   /* font-size: 130%;
  }

  /* An entry in the store catalog 
  .entry {
    padding: 10px;
    overflow: auto;
    margin-top: 1em;
    margin-left: 10px;
    margin-right: 10px;

    border: 1px solid gray;
    height: 250px;
    width: 250px;
    display: inline-block;
    img {
      padding: 5px;
      width: 95%;
      height: 170px;
     /* position: absolute;
    }

    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin: 0;
      color: #227;
    }

    p, div.price_line {
      margin: 0; 
      form, div {
      		display: inline
      }
    }
    .price_line {
     float: left;
    }
     #button {
        float: right;
      }
    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
    }
  }*/
}
/* END_HIGHLIGHT */