
/* START_HIGHLIGHT */
.store {
  $hover_link: #81D697;
  $hover_cart_button: #7E857A;
  $crvena: #e74c3c;
  margin-left: auto;
  margin-right: auto;
   #products_sale {
    width: 1181px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
    #main-header {
      height: 80px;
      line-height: 80px;
      padding-left: 40px;
      border-radius: 10px;
      margin-top: -40px;
      background-color: white;
      color: #7d7d7d;
      font-size: 0.88em; /* Approximation due to font substitution */
      font-weight: 700;
      text-align: left;
    }
  }
  #header  {
    background-image: url(image-path('textura.png'));
    background-repeat: repeat;
    opacity: 0.85;
  }
  .sign_out {
    background-image: url(image-path('textura.png'));
    background-repeat: repeat;
    opacity: 0.85;
  }
  #home-slider {
    height: 600px;
    background-image: url(image-path('smart-main.jpg'));
    background-repeat: no-repeat;
    background-size:   cover;   
  }
  .entry-frame {
    width: 250px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid black;
    border: 2px solid #E3E3E3;

  }
  .entry:hover {
     border: 2px solid #E3E3E3;
     #entry-button {
      visibility: visible;
     }

  }
  .entry {
    border-radius: 4px;
    background-color:  #ffffff;
    width: 210px;
    height: 260px;
    padding: 10px;
    border: 2px solid white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    display: inline-block;
    img {
      width: 155px;
      height: 134px;
    }
    .price_line {
      margin-left: 20px;
      margin-top: 20px;
      text-align: left;
      .title {
        color:  #959595;
        font-size: 0.88em; /* Approximation due to font substitution */
        font-weight: 600;
      }
      .price {
        color:  #7d7d7d;
        font-size: 1.13em; /* Approximation due to font substitution */
        font-weight: 600;
        text-align: left;
      }
      width: 145px;
      height: 32px;
    }
    #entry-button {
      visibility: hidden;
      margin-top: 25px;
      color:  #ffffff;
      font-size: 0.88em; /* Approximation due to font substitution */
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      width: 180px;
      margin-left: auto;
      margin-right: auto;
      height: 30px;
      .cart_button {
        margin-left: 10px;
        background-color: #e74c3c;
        border-radius: 4px;
        display: inline-block;
        width: 100px;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        border: 1px solid #e74c3c;
        color: white;
        font-size: 11px;
        font-weight: 600;
        float: right;
        font-family: "Open Sans";
        cursor: pointer;
      }
      .cart_button:hover{
        background-color:  #f16354;
        border: 1px solid #f16354;
      }
    }
  }

}
