// Place all the styles related to the Logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users {
	#header {
		background-color: #413e4a;
		}
			.title-xs {
		font-size: 1.13em; /* Approximation due to font substitution */
		font-weight: 600;
		line-height: 1.667;
		text-align: justify;
		color:  #7d7d7d;
		margin-bottom: 20px;
	}
	#section_title {
		text-align: left;
		margin-top: 60px;
		font-weight: 800;
		font-size: 22px;
		margin-left: auto;
		margin-right: auto;
		/*width: 430px*/;
		float: none;
		padding-left: 0;
		padding-right: 0;
	}
	#register_link {
		float: right;
		text-align: right;
		display: inline-block;
		width: 117px;
		a {
			color:  #7ca3cc;
			font-size: 15px; /* Approximation due to font substitution */
			font-weight: 600;
		}
	}
	.actions {
		text-align: right;
	}
	#input_form {
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		padding: 50px;
		border-radius: 4px;
		border-width: 1px;
	    border-color:  #D4D6D9;
	    border-style: solid;
	     padding-bottom: 30px;
	    padding-top: 20px;
	    background-color:  #f9fafa;
	        select {
      margin-top: 5px;
      border-width: 1px;
      border-color:  #b7b7b7;
      border-style: solid;
      padding: 5px;
      width: 100%;
      border-radius: 4px;
      height: 30px;
    }
	      input[type="submit"] {
	      	display: inline-block;
	          margin-top: 20px;
	          border-radius: 4px;
	          border-color: #566473;
	          background-color:  #566473;
	          width: 137px;
	          height: 45px;
	          color: white;
	          font-size: 1.31em; /* Approximation due to font substitution */
	          font-weight: 600;
	          border-style: solid;
	          cursor: pointer;
	        }
	        input[type="submit"]:hover {
	            background-color: #6D7F91;
	        	border-color: #6D7F91;
	        }
	}
	#table_index {
			padding: 20px;
			margin-top: 40px;
			border: 1px solid gray;
			width: 400px;
			margin-left: auto;
			margin-right: auto;
	}
	/*Purchuase history*/
	#purchase_title {
		color:  #545454;
	    font-size: 1.5em; 
	    font-weight: 400;
	    margin-left: 100px;
	    margin-top: 40px;
	}
	#cart_frame {
		/*width: 1200px;*/
		margin-left: 65px;
		margin-top: 50px;
		float: left;
		min-height: 400px;
		margin-bottom: 50px;
	}
	#cart_line_item {
		border-bottom: 1px solid #b7b7b7;
		/*width: 1200px;*/
		margin: 0;
		/*height: 220px;*/ 
		float: left;
		#slika {
			padding-left: 5px;
			padding-top: 5px;
			/*width: 168px;*/
			height: 136px;
			float: left;
			img {
				/*width: 100%;*/
				height: 100%;
			}
		}
		#description {
			padding-top: 5px;
			font-size: 1.13em; /* Approximation due to font substitution */
			font-weight: 600;
			line-height: 1.667;
			text-align: justify;
			/*width: 450px;*/
			/*height: 160px;*/
			float: left;
			color:  #7d7d7d;
			margin-left: 20px;
		}
	}
	.buy_button {
		width: 120px;
        height: 30px;
	}
 #price_details {
 	padding-top: 5px;
    float: left;
    padding-right: 40px;
 /*   border-right: 1px solid #b7b7b7;;*/
  }
  @media (min-width: 768px) {
  	#cart_line_item {
  		height: 450px;
  	}
  	#price_details {
  		height: 450px;
  	}
  }
   @media (min-width: 992px) {
  	#cart_line_item {
  		height: 240px;
  	}
  	#price_details {
  		height: 240px;
  	}
  }
 #order_details {
 	padding-top: 5px;
  	margin-left: 20px;
    float: left;
    text-align: left;
    padding-bottom: 10px;
    /*width: 130px;*/
	margin-left: 40px;
  }
  #label{
  	float: left;
    color:  #7d7d7d;
    font-size: 0.88em;
    font-weight: 600;
    line-height: 2.143;
  }
  .value {
  	width: 130px;
  	float: left;
    color:  #7d7d7d;
    font-size: 1.13em; 
    font-weight: 600;
    line-height: 1.667;
    margin-bottom: 10px;
  }
  table {
  	margin-top: 20px;
  }
}